<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="css/side-menu.css" rel="stylesheet">
    <link href="assets/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <div class="topbar" style="position: absolute; top:0;">
            <!-- 왼쪽 메뉴 -->
            <div class="left side-menu">
                <div class="sidebar-inner">
                    <div id="sidebar-menu">
                        <ul>
                            <li class="has_sub"><a href="javascript:void(0);" class="waves-effect">
                                <i class="fa fa-bars"></i>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 왼쪽 서브 메뉴 -->
            <div class="left_sub_menu">
                <div class="sub_menu">
                    <input type="search" name="SEARCH" placeholder="SEARCH">
                    <h2>N BBANG</h2>
                    <ul class="big_menu">
                        <li><a href="#">가게 모아보기</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="#">게시글 보기</a><i class="fa fa-angle-right"></i></li>
                        <li><a href="">그룹 엔빵</a></li>
                        <li><a href="#">주소 설정</a></li>
                        <li><a href="#">커뮤니티</a></li>
                        <li><a href="">마이페이지</a></li>
                        <li><a href="#">주문현황</a></li>
                    </ul>
                    <ul class="big_menu">
                        <li>MENU 2 <i class="fa fa-angle-right"></i></li>
                        <ul class="small_menu">
                            <li><a href="#">소메뉴2-1</a></li>
                            <li><a href="#"></a>소메뉴2-2</a></li>
                        </ul>
                    </ul>
                </div>
            </div>
            <div class="overlay"></div>
        </div>
    </div>


<!-- 왼쪽 사이드 메뉴 스크립트 -->
<script src="js/detail.js"></script>
<script src="assets/js/jquery-2.2.3.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>